.icon span svg {
  fill: #f62369;
}

.text span {
  color: #f62369;
}

.inputFieldLayout {
  margin-bottom: 30px;
}

.inputFieldColor {
  position: relative;
}

.inputFieldColor .inputColor {
  height: 32px;
  width: 30px;
  border: 1px solid rgb(138, 138, 138);
  border-left: none;
  border-radius: 6px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 24px;
  z-index: 100;
}

.inputFieldColor .inputColor::-moz-color-swatch {
  border: none;
}

.inputFieldColor .inputColor::-webkit-color-swatch {
  border: none;
}

@media screen and (max-width: 580px) {
  .inputFieldLayout {
    margin-bottom: 0;
  }
}
